.banner {
    position: relative;
    opacity:100;
    width: 100%;
    z-index: -50;
    transition: all 0.8s ease;
}

.hidden{
    opacity: 0;
    position:absolute;
    left:0;
    top:0;
}

#submenu{
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
    background: #101021;
    left: 0;
    padding: 1rem;
    list-style: none;
    gap: 2rem;
    border-radius: 5%;
    transition: all 0.3s ease;
}

#submenu a {
    color: #c4aead;
}

#submenu a:hover {
    color: #a8a8c8;
}

#submenu.show{
    opacity: 1;
    visibility: visible;
}

.light-mode #submenu{
    background-color: #7dc7d3;
}

.light-mode #submenu a{
    color: black;
}

.light-mode #submenu a:hover{
    color: #893fa0a7;
}

#menu{
    gap: 0;
}